h1, h2 {
  text-align: center;
  padding: 20px;
}

img {
  width: 100%;
  padding: 48px;
  /* fill container */
}

.card-img {
  /* max-height: 300px; */
  padding: 0px;
  /* height: 400px; */
}

.navbar {
  background-color: #4f7007;
  color: #fffcdf;
}

.navbar-dark {
  color: #fffcdf;
}

.navbar-bg {
  color: #4f7007;
}

.padder {
  height: 60px;
}